---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Facts from '../components/Facts.astro';
import Timeline from '../components/Timeline.astro';
import GoalMission from '../components/GoalMission.astro';
import ITFields from '../components/ITFields';
import Mentors from '../components/Mentors';
---

<Layout title="8th edition of Tech Leaders mentoring program">
	<main>
		<Hero />
		<Facts />
		<Timeline />
		<GoalMission />
		<ITFields client:idle/>
		<Mentors client:idle/>
	</main>
</Layout>