---
const facts = [
	{
		icon: "mentors",
		copy: "90 mentors with different IT expertise in the last edition",
	},
	{
		icon: "survey",
		copy: "96% 0f mentors would like to participate in the program again",
	},
	{
		icon: "goals",
		copy: "83% of mentees have achieved all their goals during the program",
	},
	{
		icon: "rating",
		copy: "4.8/5 is an average rating of the mentorship program",
	},
];
---

<section class="container text-center">
	<h2 class="mb-10">A few facts about the program</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 lg:gap-5">
	{
		facts.map((item) => (
			// <div class="before:content-goals before:content-mentors before:content-rating before:content-survey">
			<div class="shadow-custom-light relative p-6 pt-28">
				<p class={`leading-7 text-xl before:absolute before:content-${item.icon} before:left-1/2 before:-translate-x-1/2 before:-translate-y-[110%]`}>{item.copy}</p>
			</div>
		))
	}
       </div>
</section>
