<section class="container space-y-20">
	<div
		class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center justify-between"
	>
		<img
			class="object-contain md:order-2 md:justify-self-end"
			src="/images/woman-standing.webp"
			alt="woman standing"
		/>
		<div>
			<h2 class="mb-10">Goal of the program</h2>
			<p class="text-2xl">
				Tech Leaders is a <strong
					>4-month, free mentoring program for women</strong
				> who want to start a career or develop their skills in the area of ​​IT
				and new technologies. The program is also open to those who want to develop
				their business ideas or already operating companies related to new technologies.
			</p>
		</div>
	</div>
	<div
		class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center justify-between"
	>
		<img
			class="hidden md:block object-contain"
			src="/images/woman-with-glasses.webp"
			alt="woman with glasses"
		/>

		<div>
			<h2 class="mb-10">Our mission</h2>
			<p class="text-2xl">
				The mission of the project is to create a free space for sharing
				knowledge and professional development with the support of selected
				mentors.
				<br /><br />
				Application runs from January 2nd - January 15th, 2023. <span
					class="text-accent font-bold"
					>The Program start on February 13th and lasts until June 13th, 2023.</span
				>
			</p>
		</div>
	</div>
</section>
