---
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-10 lg:gap-28 container items-center">
	<img
		class="md:order-2 mx-auto"
		src="/images/intro-photos.webp"
		alt="Intro photo"
	/>
	<div class="text-center md:text-left">
		<h1 class="text-4xl lg:text-5xl mb-10 leading-tight lg:leading-hero-headline">
			8th edition of Tech Leaders is starting!
		</h1>
		<p class="text-xl lg:text-2xl">
			Become a participant in our free mentoring program and develop your skills
			under the guidance of experienced mentors.
		</p>
	</div>
</section>
